*{
    margin: 0;
    padding: 0;
}
#aboutUs{
    background-image: linear-gradient(#4c4c4c, #020202);
    padding: 10px;
}
.aboutTitle{
    text-align: center;
    color:white;
    font-weight: bold;
}
#secondSection{
    background-color: #E0EAF3;
    padding: 30px;
}
.secondSectionWrapper{
    text-align: center;
}
.secondSectionWrapper p{
    text-align: center;
  
}
.secondSectionWrapper h4{
    text-align: center;
  color:#1F448B ;
  font-size: 18px;
}
.serviceGoalWrapper{
    padding:50px 0px;
}
.serviceGoal{
float: left;
}

.serviceGoalImage{
    padding-top: 26px;
float: left;
margin: auto;
}
.serviceGoalImage img{
    max-width: 100%;
    padding-bottom: 20px;
}
.singleImg{
    margin-left: 100px;
    border:1px solid black;
}
.singleImg img{
    max-width: 100%;
}